@charset "utf-8";

body {
  padding: 0px;
  margin: 0px;
  background-color: #2F4F4F;
  color: white;
}

.alinharCentro {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
}

#final {
  position: absolute;
  bottom: 1%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  text-align: center;
  color: black;
}

#div_opc {
  width: 70%;
  height: 60%;
}

#div_opc input {
  width: 100%;
  height: 15%;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  border-radius: 24px;
  outline: none;
  border: 1px solid #2ecc71;
  background-color: #191919;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  color: white;
  font-size: 200%;
  margin-bottom: 2%;
}

#div_opc input:hover {
  border: 2px solid #00BFFF;
  background-color: #00BFFF;
}

#div_quest {
  width: 75%;
  height: 75%;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  border-radius: 24px;
  border: 2px solid #2ecc71;
  background-color: #191919;
  display: none;
}

#divInpText {
  width: 100%;
  height: 45%;
  text-align: center;
  margin: 2% auto 0px auto;
}

#div_op {
  width: 100%;
  height: 30%;
  text-align: center;
  margin: 0px auto 2% auto;
}

.btnPad {
  width: 20%;
  height: 10%;
  background-color: transparent;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  border-radius: 24px;
  color: white;
  font-size: 150%;
  margin: auto;
  outline: none;
  border-color: #00BFFF;
  cursor: pointer;
  position: absolute;
  bottom: -2%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  text-align: center;
}

.btnPad:hover {
  background-color: #00BFFF;
}

#btnEnv {
  display: none;
}

#fim {
  background-color: #191919;
  border: 2px solid #2ecc71;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  border-radius: 24px;
  width: 75%;
  height: 75%;
  display: none;
}

#div_centro {
  width: 90%;
  height: 100%;
  margin: 0px auto 5% auto;
}

#div_text {
  width: 100%;
  height: 82%;
  font-size: 80%;
}

.inFim {
  width: 10%;
  height: 12%;
  background-color: transparent;
  outline: none;
  border: none;
  color: white;
  text-align: center;
}

#agra {
  width: 50%;
  height: 8%;
  background-color: transparent;
  outline: none;
  border: none;
  color: white;
  text-align: center;
}

.opcs {
  width: 100%;
  height: 19%;
  margin-top: 0.3%;
  position: relative;
}

.rad {
  width: 5%;
  height: 100%;
  margin-left: 1%;
  position: relative;
  display: block;
}

.rad input {
  position: absolute;
  top: 40%;
  left: 40%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  border: 0px;
  width: 100%;
  height: 2em;
}

.f {
  position: absolute;
  top: 50%;
  left: 52.5%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  float: right;
  width: 93%;
  height: 95%;
}

#inpText {
  position: relative;
  outline: none;
  border: none; 
  width: 95%;
  height: 95%;
  text-align: center;
  font-size: 250%;
  overflow:hidden;
  resize: none;
  background-color: transparent;
  color: white;
}

.qstt {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 150%;
  vertical-align: center;
  text-overflow: hidden;
  outline: none;
  border: none;
  background-color: transparent;
  color: white;
}