@charset "utf-8";

.form-login{
    width: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.section-login {
    background-color: var(--cor1);
    border: solid 2px var(--cor4);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-login > p {
    color: var(--cor3);
    margin: 10px 0;
    display: flex;
    font-size: 1.8rem;
}

.form-login > input[type='email'], input[type='password'] {
    width: 75%;
    height: 50px;
    background-color: transparent;
    color: var(--cor6);
    text-align: center;
    border-radius: 24px;
    outline: none;
    transition: 0.2s;
    border: none;
    border: 2px solid var(--cor2);
}

.form-login > button {
    height: 50px;
    border: none;
    width: 25%;
    min-width: 100px;
    border: 2px solid var(--cor3);
    background-color: transparent;
    border-radius: 24px;
    color: var(--cor3);
    
}

.form-login > input[type='email'], input[type='password'], button {
    margin: 10px 0;
    font-size: 1.2rem;
    transition: 0.5s ease;
}

.form-login > button:hover {
    background-color: var(--cor3);
    color: var(--cor6);

    cursor: pointer;
}

.form-login > input[type='email']:hover, input[type='password']:hover {
    border-color: var(--cor4);
    cursor: pointer;
}

.form-login > input[type='email']:focus, input[type='password']:focus {
    width: 90%;
    border-color: var(--cor4);
    cursor: text;
}

.section-login > .forgotPassword > p{
    margin: 5px;
    font-size: 1.1rem;
    color: var(--cor3);
}

.section-login > .forgotPassword > p:hover{
    text-decoration: underline;
    cursor: pointer;
}

.section-login > .createAccount > button {
    border: none;
    outline: none;
    color: var(--cor6);
    padding: 5px;
    background-color: var(--cor3);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.329);
}

.section-login > .createAccount > button:hover {
    cursor: pointer;
}