@charset "utf-8";

body{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}

.container-login{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form-login{
    width: 50%;
    min-height: 50vh;
    background-color: #191919; 
    border-radius: 24px;
    border: solid 2px #2ecc71;
}

.form-login .inputs{
    width: 75%;
    height: 12%;
    display: block;
    background-color: transparent;
    font-size: 160%;
    text-align: center;
    align-items: center;
    margin: 10% auto;
    color: white;
    border-radius: 24px;
    text-align: center;
    outline: none;
    transition: 0.2s;
    border-color: #2ecc71;
}

.form-login .inputs:focus {
    width: 95%;
    border-color: #00BFFF;
}

#submit { 
    width: 35%;
    height: 10%;
    background-color: transparent;
    border-radius: 24px;
    color: white;
    font-size: 150%;
    text-align: center;
    margin: 12% auto;
    outline: none;
    border-color: #00BFFF;
    cursor: pointer;
    display: block;	
}

#submit:hover {
    background-color: #00BFFF;
}

#txtAviso {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.5rem;
}