@charset "utf-8";

* {
  padding: 0px;
  margin: 0px;
}

:root {
  --cor1: #2D4471;
  --cor2: #689D99;
  --cor3: #D4B06A;
  --cor4: #D4986A;
  --cor5: #805B15;
  --cor6: #FFF;
}

body {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 1fr 50px;
  grid-template-areas: 
    "header"
    "main"
    "footer"
  ;
}

header {
  grid-area: header;
  background-color: var(--cor1);
}

main {
  grid-area: main;
  height: calc(100vh - 130px);
  background-color: var(--cor2);
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  grid-area: footer;
  background-color: var(--cor1);
}

.main-section {
  width: 40%;
}